<div class="col-12 p-5">
  <h2>Gestion des frais</h2>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Nature</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Transport</th>
        <th>Frais</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="missions != null ; else elseBlock">
        <tr *ngFor="let mission of missions" [ngClass]="{'table-warning': mission.estEchue}">
          <td>{{ mission.dateDebut | date:'dd/MM/yyyy' }}</td>
          <td>{{ mission.dateFin | date:'dd/MM/yyyy' }}</td>
          <td>{{ mission.nature }}</td>
          <td>{{ mission.villeDepart }}</td>
          <td>{{ mission.villeArrivee }}</td>
          <td>{{ mission.transport }}</td>
          <td>{{ mission.frais | currency:'EUR':'0.2' }}</td>
          <td *ngIf="mission.estEchue">
            <span class="badge badge-primary" style="cursor: pointer;" (click)="afficherDetails(mission)">
              <i class="fa fa-edit" aria-hidden="true"></i> MODIFIER</span>&nbsp;
            <span class="badge badge-success" style="cursor: pointer;" (click)="exportPdf()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> EXPORTER</span>
          </td>
          <td *ngIf="!mission.estEchue"></td>
        </tr>
      </ng-container>
      <ng-template #elseBlock>
        <tr class="red lighten-1 text-center z-depth-2">
          <td colspan="8" class="white-text mb-0">
            {{message}}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>