<table class="table">

  <!--Table head-->
  <thead>
    <tr>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Nature</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Transport</th>
      <th>Statut</th>
      <th>Actions</th>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let mission of listeMissions">
      <td>{{mission.dateDebut}}</td>
      <td>{{mission.dateFin}}</td>
      <td>{{mission.nature}}</td>
      <td>{{mission.villeDepart}}</td>
      <td>{{mission.villeArrivee}}</td>
      <td>{{mission.transport | enumToString}}</td>
      <td>{{mission.statut | enumToString}}</td>

      <td>
        <span>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </span>
      </td>
    </tr>

  </tbody>
</table>
