<span class="badge badge-primary" style="cursor: pointer;" (click)="modalModifierFrais.show()">Modifier</span>

<div mdbModal #modalModifierFrais="mdb-modal" class="modal fade bottom" id="fullHeightModalRight" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-bottom" role="document">
    <div class="modal-content">
      <div class="modal-header card-header primary-color white-text">
        <h4 class="modal-title w-100" id="myModalLabel">Modifier une ligne de frais</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalModifierFrais.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form #modifierFraisForm="ngForm" name="form-modifier-ligne-de-frais" id="form-modifier-ligne-de-frais">
          <input type="hidden" name="id" [(ngModel)]="frais.id">
          <div class="">
            <label for="dateFrais">Date</label>
            <input id="dateFrais" #dateFrais="ngModel" [(ngModel)]="frais.date" name="date" type="date" class="form-control" placeholder="mm/jj/aaaa"
              required mdbActive min="{{ mission.dateDebut }}" max="{{ mission.dateFin }}">
          </div>
          <div class="">
            <label for="natureFrais">Quelle nature ?</label>
            <select id="natureFrais" #natureFrais="ngModel" class="custom-select" name="nature" [(ngModel)]="frais.nature" required mdbActive>
              <option *ngFor="let n of natures" [ngValue]="n">{{ n }}</option>
            </select>
          </div>
          <div class="">
            <label for="montantFrais" mdbInputDirective>Montant</label>
            <input id="montantFrais" #montantFrais="ngModel" [(ngModel)]="frais.montant" name="montant" type="number" class="form-control"
              min="0" max="10" required mdbActive>
          </div>
        </form>
        <br>
        <div [hidden]="!message" class="card red lighten-2 text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">{{ message }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-primary waves-light" data-dismiss="modal" (click)="modalModifierFrais.hide()"
          mdbWavesEffect>Annuler</button>
        <button form="form-modifier-ligne-de-frais" type="submit" class="btn btn-sm btn-outline-default waves-light" [disabled]="!(dateFrais.valid && natureFrais.valid && montantFrais.valid)"
          mdbWavesEffect mdbActive (click)="modifier()" >Enregistrer</button>
      </div>
    </div>
  </div>
</div>